:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #e1e5e6;
    --heading-color: #3c3c3d;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #3c3c3d;
    --heading-color: #e1e5e6;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: var(--bg-color);
	transition: 0.3s;
}

.container{
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	/*z-index: 2;*/
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0);
}

.darkMode svg{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 5%;
	left: 7%;
	z-index: 3;
	cursor: pointer;
}

.generate{
	opacity: 0;
	position: absolute;
	top: 85%;
	right: 0%;
}

.buttonColor{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 1.5px;
	width: 150px;
	height: 50px;
	/*border-radius: 25px;*/
	background-color: #91d370;
	color: #ffffff/*var(--font-color)*/;
	cursor: pointer;
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1000% 1000%;
	/*background-repeat: repeat-x;*/
	animation: rainbow 10s linear infinite;
}

/*.copied{
	opacity: 0;
	position: absolute;
	display: flex;
	font-size: 100px;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;
	color: var(--font-color);
	justify-content: center;
	align-items: center;
	z-index: -1;
}*/

/*.hover{
	opacity: 1;
	width: 100px;
    height: 500px;
    animation: show 2s ease forwards 3.6s;
}*/

/*li{
	list-style: none;
}*/

.list_cont{
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
    height: 500px;
}

.list{
	width: 100px;
    height: 500px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 1.5px;
    transform-origin: bottom;
    list-style: none;
    transition: 0.5s;
    cursor: pointer;
}

.list .right_text{
	position: absolute;
	left: 4%;
	top: 35%;
	transform: rotate(90deg);
}

.list .left_text{
	position: absolute;
	right: 4%;
	top: 35%;
	transform: rotate(90deg);
}

.snackbar{
	position: absolute;
	opacity: 0;
	top: 90%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 200px;
	height: 40px;
	background: var(--font-color);
	color: var(--bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1.5px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/*.text{
	opacity: 0;
	transition: 0.1s;
}

.list:hover .text{
	opacity: 1;
}*/

.main_anime{
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 50px;
	/*animation: hide 0.5s ease forwards 3.5s;*/
}

#outline_text path{
	stroke: var(--heading-color);
}

.right{
    clip-path: polygon(0 0, 100% 20%, 0% 100%, 0 0);
	transform: translate(50%, 0);
}

.left{
	clip-path: polygon(100% 0, 0 20%, 100% 100%, 100% 0);
    transform: translate(-50%, 0);	
}

.right:hover{
	clip-path: polygon(0 0, 100% 27%, 0 100%, 0 0);
}

.left:hover{
	clip-path: polygon(100% 0, 0 27%, 100% 100%, 100% 0);
}

.list_cont:hover .box1{
	transform: rotate(0deg) translate(50%, 0);
}
.list_cont:hover .box2{
	transform: rotate(13deg) translate(50%, 0);
}
.list_cont:hover .box3{
	transform: rotate(26deg) translate(50%, 0);
}
.list_cont:hover .box4{
	transform: rotate(39deg) translate(50%, 0);
}
.list_cont:hover .box5{
	transform: rotate(0deg) translate(-50%, 0);
}
.list_cont:hover .box6{
	transform: rotate(-13deg) translate(-50%, 0);
}
.list_cont:hover .box7{
	transform: rotate(-26deg) translate(-50%, 0);
}
.list_cont:hover .box8{
	transform: rotate(-39deg) translate(-50%, 0);
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@media only screen and (max-width: 768px){
	.list_cont{
		width: 75px;
	    height: 375px;
	}

	.list{
		width: 75px;
	    height: 375px;
	    position: absolute;
	    font-family: 'Roboto', sans-serif;
		font-weight: bold;
		letter-spacing: 1.5px;
	    transform-origin: bottom;
	    list-style: none;
	    transition: 0.5s;
	    cursor: pointer;
	}

	.list .right_text{
		position: absolute;
		left: -10%;
		top: 31%;
		transform: rotate(90deg);
	}

	.list .left_text{
		position: absolute;
		right: -10%;
		top: 31%;
		transform: rotate(90deg);
	}
}

@media only screen and (max-width: 500px){
	.list_count{
		width: 40px;
	    height: 200px;
	}

	.list{
		width: 40px;
	    height: 200px;
	    position: absolute;
	    font-family: 'Roboto', sans-serif;
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 12px;
	    transform-origin: bottom;
	    list-style: none;
	    transition: 0.5s;
	    cursor: pointer;
	}

	.list .right_text{
		position: absolute;
		left: -25%;
		top: 28%;
		transform: rotate(90deg);
	}

	.list .left_text{
		position: absolute;
		right: -25%;
		top: 28%;
		transform: rotate(90deg);
	}

	.darkMode svg{
		width: 40px;
		height: 40px;
		position: absolute;
		top: 5%;
		left: 7%;
		z-index: 3;
	}

	.buttonColor{
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		letter-spacing: 1.1px;
		width: 125px;
		height: 40px;
		/*border-radius: 25px;*/
		background-color: #91d370;
		color: var(--font-color);
		cursor: pointer;
		background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
		background-size: 1000% 1000%;
		animation: rainbow 10s linear infinite;
	}
}
/*#outline_text path:nth-child(1){
	stroke-dasharray: 281;
	stroke-dashoffset: 281;
	animation: line_anime 1.3s ease forwards;
}
#outline_text path:nth-child(2){
	stroke-dasharray: 352;
	stroke-dashoffset: 352;
	animation: line_anime 1.3s ease forwards 0.2s;
}
#outline_text path:nth-child(3){
	stroke-dasharray: 311;
	stroke-dashoffset: 311;
	animation: line_anime 1.3s ease forwards 0.4s;
}
#outline_text path:nth-child(4){
	stroke-dasharray: 311;
	stroke-dashoffset: 311;
	animation: line_anime 1.3s ease forwards 0.6s;
}
#outline_text path:nth-child(5){
	stroke-dasharray: 395;
	stroke-dashoffset: 395;
	animation: line_anime 1.3s ease forwards 0.8s;
}
#outline_text path:nth-child(6){
	stroke-dasharray: 307;
	stroke-dashoffset: 307;
	animation: line_anime 1.3s ease forwards 1.0s;
}
#outline_text path:nth-child(7){
	stroke-dasharray: 214;
	stroke-dashoffset: 214;
	animation: line_anime 1.3s ease forwards 1.2s;
}
#outline_text path:nth-child(8){
	stroke-dasharray: 307;
	stroke-dashoffset: 307;
	animation: line_anime 1.3s ease forwards 1.4s;
}
#outline_text path:nth-child(9){
	stroke-dasharray: 206;
	stroke-dashoffset: 206;
	animation: line_anime 1.3s ease forwards 1.6s;
}
#outline_text path:nth-child(10){
	stroke-dasharray: 338;
	stroke-dashoffset: 338;
	animation: line_anime 1.3s ease forwards 1.8s;
}*/

/*@keyframes line_anime{
	to{
		stroke-dashoffset: 0;
	}
}

@keyframes hide{
	0%{
		opacity: 1;
		z-index: 3;
	}
	99%{
		opacity: 0;
		z-index: 3;
	}
	100%{
		opacity: 0;
		z-index: 1;
	}
}

@keyframes show{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}*/
